<div class="container col-md-12">
	<div class="container">
	<div ng-include="'components/navbar/navbar.html'"></div>
	<h2>Trips</h2>
	<button ng-hide="vm.editMode" class="btn btn-success" ng-click="vm.edit()">
		<span class="glyphicon glyphicon-plus"/>
		Add
	</button>
	<br>
	<br>
	<table class="table">
		<thead>
			<tr>
				<th>Destination</th>
				<th>Start date</th>
				<th>End date</th>
				<th>Comment</th>
				<th>Days remaining</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in vm.collection">
				<td>{{item.destination}}</td>
				<td>{{item.startDate | date:vm.dateFormat}}</td>
				<td>{{item.endDate | date:vm.dateFormat}}</td>
				<td>{{item.comment}}</td>
				<td>{{vm.eta(item.startDate)}}</td>
				<td>
					<div class="action">
						<span class="action-buttons">
							<button ng-click="vm.edit(item)" class='btn btn-xs btn-warning'>Edit</button>
							<button ng-click="vm.destroy(item)" class='btn btn-xs btn-danger'>Delete</button>
						</span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>