<nav class="navbar navbar-default" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="trips">
        <span class="glyphicon glyphicon-home"></span>
        Flaneur Trip Planneur
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active">
          <a ui-sref="trips">Trips</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
        <a ui-sref="login">Logout <b>{{User.getUser().username}}</b></a>
        </li>
      </ul>
  </div>
</div>
</nav>