<nav class="navbar navbar-default" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="trips">
        <span class="glyphicon glyphicon-home"></span>
        Flaneur Trip Planneur
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li ng-class="{active: (state.current.name=='trips')}">
        <a ui-sref="trips">Trips</a>
      </li>
      <li ng-class="{active: (state.current.name=='plan')}">
        <a target="_blank" ui-sref="plan">Travel plan</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a ui-sref="login">
          Logout <b>{{User.getUser().username}}</b>
        </a>
      </li>
    </ul>
  </div>
</nav>